# Entornos virtuales
Lib/
Scripts/
Include/
pyvenv.cfg
venv/
env/

# Archivos compilados y cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Resultados generados (opcional)
aco_config_comparison/
report_images/
ea_results/
aco_results/
quick_compare_out_v3/